/* Theme HEX color codes
Blue #4936FF
Deep Violet #29015F
Indigo #4F00A5
Cool Grey #EAEAEA
Green #6BFF6F
Light Blue #37FFFB
Sky Blue #40C3FF
*/

/* Infograph background */
.bg-primary {
  background-color: #40C3FF;
}


h1 {
  font-weight: bold;
  color: #29015F;
}

h2, h3, h4 {
  color: #29015F;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #29015F;
    border-color: #29015F;
}


